@import url('https://fonts.googleapis.com/css2?family=Garamond&display=swap');

body {
  background-color: #f3e5ab; /* Parchment-like color */
  font-family: 'Garamond', serif; /* Ancient-looking font */
  line-height: 1.6; /* Improved readability */
  color: #333; /* Darker text color for better visibility */
}

h1 {
  font-size: 2.5rem; /* Larger font for title */
  text-align: center; /* Center the title */
}

p {
  font-size: 1.2rem; /* Standard font size */
  margin: 20px 50px; /* Add margins to paragraphs */
  font-style: italic; /* Set font style to italic */
}

.Intro {
  height: 100vh;
  margin-top: 45vh;
}

.entities-container {
  height: 100vh;
}

button {
  background-color: #8B4513; /* Sienna color for an aged look */
  color: #fff; /* White text */
  font-family: 'Garamond', serif; /* Match the ancient-looking font */
  padding: 10px 20px; /* Add padding */
  border: 2px solid #5F3B1B; /* Darker border for contrast */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 10px; /* Space around buttons */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #A0522D; /* Darker on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

form {
  padding: 30px; /* Padding inside the form */
  border: 2px solid #e2c499; /* Light brown border */
  border-radius: 10px; /* Rounded corners */
  width: 45%; /* Fixed width */
  margin: 0 auto; /* Center the form */
}

form label {
  font-weight: bold; /* Bold labels */
  display: block; /* Each label on a new line */
  margin-bottom: 5px; /* Space between label and input */
}

form input, form textarea {
  width: 95%; /* Full width inputs */
  padding: 20px; /* Padding inside inputs */
  margin-bottom: 15px; /* Space below inputs */
  border: 2.5rem solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  font-family: 'Garamond', serif; /* Match the ancient-looking font */
}

.entity {
  padding: 20px; /* Padding inside entity */
  border: 2px solid #e2c499; /* Light brown border */
  border-radius: 10px; /* Rounded corners */
  margin: 20px 0; /* Space between entities */
}

.entity h2 {
  margin-bottom: 10px; /* Space below the title */
}

.entity p {
  margin-bottom: 20px; /* Space below the description */
}
.entities-container {
  height: auto; /* Set height to auto to allow it to expand based on content */
  margin-bottom: 20px; /* Add margin at the bottom of the container */
}

.entity:last-child {
  margin-bottom: 20px; /* Add margin at the bottom of the last entity */
}