@import url('https://fonts.googleapis.com/css2?family=Garamond&display=swap');



body {
  background-color: #f3e5ab; /* Parchment-like color */
  font-family: 'Garamond', serif; /* Ancient-looking font */
  line-height: 1.6; /* Improved readability */
  color: #333; /* Darker text color for better visibility */
}

h1 {
  font-size: 2.5rem; /* Larger font for title */
  text-align: center; /* Center the title */
 
}

p {
  font-size: 1.2rem; /* Standard font size */
  margin: 20px 50px; /* Add margins to paragraphs */
  font-style: italic; /* Set font style to italic */
}

.Intro{
  height:100vh;
  margin-top:45vh;
}

.entities-container{
  height:100vh;
}